/* css/ui-components.css */

/* --- NEON STAT BOXES --- */
.stat-box {
  padding: 8px 15px;
  position: relative;
  font-size: clamp(16px, 4vw, 24px);
  font-weight: bold;
  color: #f4f0ff;
  text-transform: uppercase;
  white-space: nowrap;
  background: transparent;
  border: none;
  border-radius: 0.5rem;
  z-index: 1;
}

.stat-box::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  background: linear-gradient(
      180deg,
      rgba(8, 77, 126, 0) 0%,
      rgba(8, 77, 126, 0.42) 100%
    ),
    rgba(47, 255, 255, 0.24);
  box-shadow: inset 0 0 12px rgba(151, 200, 255, 0.44);
  z-index: -1;
}

.stat-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  z-index: -1;
}

.stat-border::before {
  content: "";
  position: absolute;
  border-radius: 0.5rem;
  padding: 1px;
  inset: 0;
  background: linear-gradient(
      180deg,
      rgba(184, 238, 255, 0.24) 0%,
      rgba(184, 238, 255, 0) 100%
    ),
    linear-gradient(0deg, rgba(184, 238, 255, 0.32), rgba(184, 238, 255, 0.32));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

#powerup-status {
  color: #00ff00;
  text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
  visibility: hidden;
}

/* --- PROGRESS BAR --- */
#progress-container {
  height: 18px;
  background: #333;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

#progress-bar {
  height: 100%;
  background: #ffcc00;
  width: 0%;
  transition: width 0.2s;
}

#progress-marker {
  position: absolute;
  top: 0;
  left: 80%;
  height: 100%;
  width: 4px;
  background: red;
  z-index: 2;
}

.powerup-legend {
  font-size: 14px;
  color: #aaa;
  margin-top: 10px;
  text-align: center;
  line-height: 1.6;
}

.leg-f {
  color: #00ffff;
}
.leg-p {
  color: #ff0000;
}
.leg-m {
  color: #0000ff;
}
.leg-t {
  color: #ffffff;
}
.leg-s {
  color: #c0c0c0;
}

.leg-w {
  color: #8a2be2;
}
.leg-d {
  color: #8b4513;
}
.leg-b {
  color: #ffff00;
}
